@model string

<div class="container-fluid">
    <div class="d-inline-block" style="width: 18rem">
        <ul>
            <li class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    Testing Partial View in a Pop Up
                </div>
            </li>
        </ul>
    </div>

</div>

