@model Mentee

<div>
    <h4>Are you sure you want to delete @Model.FullName</h4>
</div>


<div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Confirm" class="btn btn-danger float-end"/>
    </form>

    <div>
        <a class="btn btn-outline-info float-start" asp-action="Edit" asp-route-id="@Model.Id"> Edit Details</a>
    </div>
</div>