@model SkillTypeTopic

@{
    ViewData["Title"] = "Update Skill";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">

            <div class="text-center">
                <p>
                    <h1>
                        Update @Model.SkillTypeTopicTitle
                    </h1>
                </p>
            </div>

            <div class="card d-flex">
                

                <div class="card-body">
                    <form method="post" asp-controller="SkillTypeTopics" asp-action="Edit">
                        <div class="mb-3 d-non">
                            <label asp-for="pseudoMentorId" class="form-label"></label>
                            <input class="form-control" asp-for="pseudoMentorId" value="@ViewBag.pseudoMentorId" />
                            <span asp-validation-for="pseudoMentorId" class=" text-danger"></span>
                        </div>

                        <div class="mb-3 d-none">
                            <label asp-for="SkillTypeId" class="form-label">Title</label>
                            <input asp-for="SkillTypeId" class="form-control" value="@ViewBag.skillTypeId">
                            <span asp-validation-for="SkillTypeId" class=" text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="SkillTypeTopicTitle" class="form-label">Title</label>
                            <input asp-for="SkillTypeTopicTitle" class="form-control">
                            <span asp-validation-for="SkillTypeTopicTitle" class=" text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="SkillTypeTopicDescription" class="form-label">Description</label>
                            <textarea asp-for="SkillTypeTopicDescription" class="form-control"></textarea>
                            <span asp-validation-for="SkillTypeTopicDescription" class=" text-danger"></span>
                        </div>

                        <div class="mb-5">
                            <input type="submit" value="Update" class="btn btn-outline-success float-end" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-3">

        </div>
    </div>
    



</div> 